@font-face {
    font-family: cpPrimaryFont;
    src: url('../../dist/fonts/LeagueSpartan-Bold.otf');
}

@font-face {
    font-family: cpSecondaryFont;
    src: url('../../dist/fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: cpSecondaryFontItalic;
    src: url('../../dist/fonts/LibreBaskerville-Italic.ttf');
}


@font-face {
    font-family: cpSecondaryFontBold;
    src: url('../../dist/fonts/LibreBaskerville-Bold.ttf');
}

