<div class="hero-section">

<div class='container'>

<h1 class="hero-section__title">{{title|default('OP Gaming')}}</h1>
<br>
<p class="hero-section__text">{{text|default('Lorem Ipsum Gor Hariumn')}}
</div>

</div>